html {
    background-color: rgb(39, 37, 37);
}

.container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.text-area {
    height: 100%;
    color: rgb(228, 227, 227);
    outline: 0px solid transparent;
}